{% extends 'home.html' %}
{% block content %}

<h2> Add Restaurant Detail</h2>

<form action="addrecord/" method="post">
    {% csrf_token %}
    Restaurant_name:
    <input name="add name">
    <br><br>
    Description:<input name="Your Description">
    <br><br>
    Location: <input name="Add Location">
    <br><br>
    Cuisines: 
    <input type="checkbox" name="SI" ><lable>South Indian</lable>
    <input type="checkbox" name="IT" ><lable>Italian</lable>
    <input type="checkbox" name="PU" ><lable>Punjabi</lable>
    <input type="checkbox" name="CH" ><lable>Chinese</lable>
    <br><br>
    veg: <input type="checkbox" name="Y" ><lable>Yes</lable>
    <br><br>
    Contect_no: <input name="Your contact no.">
    <br><br>
    Email: <input type="text" name="Your Email">
    <br><br>
    <input type="Submit" value="Submit" name="submit">




</form>

{% endblock content %}